<!-- Adding a Checkbox from Angular Material, w/ common Properties -->
<mat-checkbox
    #showDetails
    [checked]="isChecked"
    (change)="onChange($event)"
    >
    <!-- label the box HERE -->
    Show Details?
</mat-checkbox> 


<!-- More Details, if the Component above is checked -->
<div *ngIf="showDetails.checked">
    SOME DETAILS...
</div>

<br><br>

<!-- Adding Radio Buttons from Angular Material -->
<mat-radio-group 
    aria-label="Select The Gender That You Most Closely Identify With"
    value="1">  <!-- this attr helps us pre-select the radio button w/ matching value-->
  <mat-radio-button value="1">Male</mat-radio-button>
  <mat-radio-button value="2">Other Genders</mat-radio-button>
</mat-radio-group>

<!-- Adding Dropdown Lists from Angular Material -->
<h2>Basic mat-select</h2>
<mat-form-field appearance="fill">
   <mat-label>Favorite food</mat-label>  <!-- Can either use this, and/or pre-select an element-->
    <mat-select [(ngModel)]="color">
        <mat-option *ngFor="let color of colors" [value]="color.name">
              {{ color.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- Adding Input Fields from Angular Material -->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <!-- note that placeholder takes a backseat to value, when both are present,
         as well, when none of them are there, the label will go in the text box,
         and then move above when the user starts entering a value
    -->
    <input ngModel
           matInput placeholder="e.g. Pizza"
           name="favoriteFood" type="text"
           aria-placeholder="e.g. Pizza"
           (change)="onChange(favoriteFood)"
           #favoriteFood="ngModel"
           required value="Sushi">
    <!-- even more info for the user -->
    <mat-hint>Type the name of your favorite food.</mat-hint> 
    <!-- optionally add suffixes and prefixes to whatever input the user gives -->
    <span matPrefix>Italian-</span>
    <span matSuffix>made with ♥️</span>
    <!-- Adding Errors to the Form, using Angular Material -->
    <mat-error
      *ngIf="favoriteFood.invalid && favoriteFood.control.errors?.required"
      >
      You must enter your favorite food.
    </mat-error>
  </mat-form-field>
</form>

