<div class="container">
    <form>
        <!-- First Name Field -->
        <div class="form-group">
            <label for="firstName">
                <strong>First Name</strong>
            </label>
            <input type="text" name="" id="firstName" class="form-control">
        </div>
        <!-- Comment Field -->
        <div class="form-group">
            <div class="row">
                <label for="comment">
                    <strong>Comment</strong>
                </label>
            </div>
            <textarea style="min-width: 100%" id="comment" cols="30" rows="10"></textarea>
        </div>
        <!-- Submit Page -->
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
