<div class="container">
    <form>
        <!-- First Name Field -->
        <div class="form-group">
            <label for="firstName">
                <strong>First Name</strong>
            </label>
            <input ngModel type="text" name="firstName" 
                   id="firstName" class="form-control"
                   [(ngModel)]="currentVal" (change)="log()">
        </div>
        <!-- Comment Field -->
        <div class="form-group">
            <div class="row">
                <label for="comment">
                    <strong>Comment</strong>
                </label>
            </div>
            <textarea style="min-width: 100%" id="comment" 
                      cols="30" rows="10"
                      ngModel name="comment">
            </textarea>
        </div>
        <!-- Submit Page -->
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
