<div class="container">
    <form>
        <!-- First Name Field -->
        <div class="form-group">
            <label for="firstName">
                <strong>First Name</strong>
            </label>
            <input ngModel type="text" name="firstName" 
                   id="firstName" class="form-control"
                   #firstName="ngModel" 
                   (change)="log(firstName)" 
                   required minlength="5" pattern="banana">
            <!-- Validation errors -->
            <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.control.errors?.required">First name is required.</div>
                <div *ngIf="firstName.control.errors?.minlength">
                    First name should be at least {{ firstName.control.errors?.minlength.requiredLength }} characters.
                </div>
                <div *ngIf="firstName.control.errors?.pattern">
                    First name does not fit the pattern.
                </div>
            </div>
        </div>
        <!-- Comment Field -->
        <div class="form-group">
            <div class="row">
                <label for="comment">
                    <strong>Comment</strong>
                </label>
            </div>
            <textarea style="min-width: 100%" id="comment" 
                      cols="30" rows="10"
                      ngModel name="comment">
            </textarea>
        </div>
        <!-- Submit Page -->
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
</div>
